.wandContainer {
  height: fit-content;
  width: fit-content;
  padding: 3px 6px;
  background-color: black;
  border-radius: 7px;
}

.wandContainer:hover {
  background-color: rgba(0, 0, 0, .95);
  transition: background-color .2s ease-in;
  border-radius: 7px 7px 0px 0px;
  cursor: pointer;


}

.bubble-float-bottom {
  display: inline-block;
  position: relative;
  transition-duration: .3s;
  transition-property: transform;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.bubble-float-bottom:before {
  display: none;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  left: calc(50% - 14px);
  bottom: -9px;
  border-style: solid;
  border-width: 10px 14.2px 0px 14.2px;
  border-color: #10a33f transparent transparent transparent;
  transition-duration: .3s;
  transition-property: bottom;
}

.bubble-float-bottom:hover {
  transform: translateY(-8px) translateZ(0);
}

.bubble-float-bottom:hover:before {
  bottom: -(10px);
  display: block;

}

.ql-editor span[style*="background-color"]:hover {
  /* cursor: pointer; */
  animation: glowing 2s ease-in-out;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.2), 0 0 50px rgba(255, 255, 255, 0.1);
}

.ql-editor span[style*="background-color"] {
  background-color: #fffd87;
  box-shadow: 2px 2px 2px 2px rgba(124, 114, 227, 0.7);
  margin: 2px;
  color: #fff;
  padding: 1px;
  border-radius: 8px;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 0 0 rgba(124, 114, 227, 0.7);
  }

  50% {
    box-shadow: 0 0 20px 0 rgba(124, 114, 227, 0.7);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(124, 114, 227, 0.7);
  }
}