*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-color: #F3F3F3;
    margin: 0;
}

.container .ql-editor {
    padding: 0.5in;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
    flex-grow: 1;
    height: auto
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 1000px;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

@page {
    margin: 1in;
}

.center {
    text-align: center;
}

/* comment-link {
    border-bottom: solid 3px;
} */

comment-link:hover {
    background-color: #fdcccc;
    /* opacity: 0.1; */
    cursor: pointer;
    display: inline;
    position: relative;
}