.commentLink:hover {
    background-color: #fdcccc;
    /* opacity: 0.1; */
    cursor: pointer;
    display: inline;
    position: relative;
}

@media only screen and (max-width: 768px) { 
    .quillContainer {
        flex: 1
    }
    .chatTab {
        flex: 1
    }
  }
  @media only screen and (min-width: 768px) { 
    .quillContainer {
        flex: 2
    }
    .chatTab {
        flex: 1
    }
  }
.quillContainer { background-color: black;}