/* *,
*::before,
*::after {
    box-sizing: border-box;
} */

@page {
    margin: 1in;
}


.commentLink:hover {
    background-color: #fdcccc;
    /* opacity: 0.1; */
    cursor: pointer;
    display: inline;
    position: relative;
}