body {
    margin: 0;
    height: 100vh;
}
#custom__next {
    overflow-y: scroll;
  }


#__next {
    height: 100vh;
    overflow-y: clip;

}

.container {
    background-color: #F3F3F3;
    margin: 0;
    max-width: 8.5in;
}

.container .ql-editor {
    padding: 0.5in;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    background-color: white;
    flex-grow: 1;
    height: auto;
    min-height: 11in;
    box-sizing: border-box;
}

.container .ql-container.ql-snow {
    border: none;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.container .ql-toolbar.ql-snow {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F3F3F3;
    border: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

